ion-toolbar{
    padding-left: 10px;
    padding-right: 10px;
    ion-button{
        --background:none;
        --box-shadow: none;
    }
}
ion-content{
    ion-card{
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    overflow: visible;
    }
}


ion-col{
    ion-card{
        background: transparent;
        border: solid;
        border-color: #6b6a6a;
        border-radius: 15px;
        border-width: 2px;
        padding: 5px;
        ion-img{
        padding: 4px;
        }
        ion-buttons{
            float: right;
            position: absolute;
            z-index: 0;
            ion-button{
                --background: transparent;
                --box-shadow: none;
            }
        }
    }
    
}


.xyz{
    z-index: 1;
    --background: #424242;
    color: white;
    font-size: large;
    position: absolute;
    bottom: 20px;
    left: 35%;
    right: 35%;
    width: 30%;
}
