.ionList{
    background: var(--ion-secondary-color);
    ion-item{
        --background: primary;
        color: #ffffff;
        ion-icon{
            color: #ffffff;
        }
    }
}
.menulist{
    --background : grey;
    --color: grey;
}

.pdfname{
    font-size: 20px;
    padding-top: 10px;
}

.pdftime{
    padding-top: 5px;
    font-weight: lighter;
    font-size: 14px;
}

.pdfbtns{
    padding-top: 55px;
    text-align: center;
}

.pdfcard{
    border-radius: 10px;
    margin: 0px;
    height: fit-content;
}

.pdfimage{
    text-align: center;
    width: 40px;
    height: 20px;
}

.previewimage{
    height: max-content;
    width: fit-content;
}