<ion-header >
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-icon size="large" name="close-outline" ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon  size="large" name="checkmark-outline" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

</ion-content>

<ion-footer >
  <ion-toolbar color="secondary" >
    <ion-grid>
      <ion-row>
        
        <ion-button>
          <ion-col>
            <ion-row>
              <ion-icon size="large" name="crop-outline" ></ion-icon>
            </ion-row>
            <ion-row>
              Crop
            </ion-row>
          </ion-col>
        </ion-button>
        
        <ion-button>
          <ion-col>
            <ion-row>
              <ion-icon size="large" name="refresh-outline" ></ion-icon>
            </ion-row>
            <ion-row>
              Rotate
            </ion-row>
          </ion-col>
        </ion-button>

        <ion-button>
          <ion-col>
            <ion-row>
              <ion-icon size="large" name="refresh-outline" ></ion-icon>
            </ion-row>
            <ion-row>
              Rotate
            </ion-row>
          </ion-col>
        </ion-button>
        
        <ion-button>
          <ion-col>
            <ion-row>
              <ion-icon size="large" name="color-filter-outline"></ion-icon>
            </ion-row>
            <ion-row>
              Filter
            </ion-row>
          </ion-col>
        </ion-button>

        <ion-button>
          <ion-col>
            <ion-row>
              <ion-icon  size="large" name="trash-outline" ></ion-icon>
            </ion-row>
            <ion-row>
              Delete
            </ion-row>
          </ion-col>         
        </ion-button>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
