ion-toolbar{
    padding-left: 10px;
    padding-right: 10px;
    ion-button{
        --background:none;
        --box-shadow: none;
    }
}

ion-footer{
    ion-toolbar{
        ion-grid{
            ion-row{
                ion-col{
                    justify-items: center;
                    ion-row{
                        justify-content: center;
                        font-size: 10px;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}
